

.cartas {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-right: 20px;
  margin-top: 60px;
  margin-bottom: 20px;

}

.borrador {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #111010;
  cursor: pointer;
}

.datos {
  text-align: center;
  margin-top: 20px;
  transform: translateY(-20%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.foto {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-5%);
  border-radius: 10px;
  border-color:  #000000;
  border-spacing: 10px;
}
