.app{
    padding: 0;
    margin: 0;

}

.contenedor-de-cartas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;  
    background-image: url('./imagenes/fondo.jpg');
    background-size: cover;
    background-position: center;
}